html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.cards {
    transition: all 0.2s ease;
    cursor: pointer
}
.cards:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1)
}
.w-con{width:80%;}